* {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13.33px;
}

#root {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}
a:focus {
  color: white;
}

/* Header */
nav {
  background-color: #FF6600;
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: space-between;
}

.navContainer, .flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.flex > ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 5px;
}

.title {
  display: flex;
  font-weight: 600;
  padding-left: 4px;
}

.login {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.logocss {
  border: 1px solid white;
  margin-top: 2px;
  margin-left: 2px;

}
/* main */
.main {
  display: flex;
  flex-direction: column;
  width: 1604px;
  padding:0;
  background-color: #F6F6EF;
}

.mainDesc{
color: #828282;
font-size: 13.33px;
padding-left: 2.7rem;

}
.entry {
  margin-top: 0;
  padding-left: 25px;
  margin-bottom: 0;
  padding-top: 1rem;
  flex-direction: column;
}
.subtitle{
  padding-top: 2px;
  margin-left: 12px;
  margin-bottom: 8px;
}

.newstitle, .titlelink {
  margin-bottom: 10px;
}

.titlelink:hover {
  text-decoration: underline;
}
.subtitle a:hover {
  text-decoration: underline;
}
.subtitle, .subtitle > a {
  color: #828282; 
  font-size: 9.33px;
 
}

.newstitle {
  font-size: 13.33px;
}

.titlelink, .navFooter a {
  color: #828282;
  font-size: 10.66px;
}


ul li {
  list-style-type:none;
  padding-left: 5px;

}

.moreButton {
  margin: 1rem 0 1rem 2.3rem;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

.triangleIcon {
  width: 10px;
  height: 10px;
  margin-right:3px;
  margin-left: -2px;
  margin-bottom: 2px;
}

::marker {
  margin-left: 20px ;
  color: #828282;;
  
}

/* footer  */

.navFooter {
  justify-content: center;
  padding-top: 0.5rem;
  background-color: #F6F6EF;
  border-top: 2px solid #FF6600;
}

.navFooter ul {
  display: flex;
}
/* .navFooter .link a:nth-last-of-type(1)  {
  color: black;
} */

 label {
  color: #828282;
  font-size: 13.33px;
}

form {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
